:root{
    --grid-row:var(--grid-row);
    --grid-col:var(--grid-col);
}

body{
    display: flex;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-col), 1fr);
    max-width: fit-content;
}

.gridItem{
    padding: 1em;
    border: 1px solid #ddd;
}